<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cliqv1">
    <!-- berechtigt die App das Internet zu nutzen und auf den Internen Speicher zuzugreifen -->
    <!-- sollten berechtigungen fehlen, wird die App von internen Einstellungen gehindert -->
    <!-- die entsprechenden Aktionen auszuführen und stürtzt ab -->
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Audiobereich -->
    <uses-permission-sdk-23 android:name="android.permission.RECORD_AUDIO" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ProfileActivity"></activity>
        <activity
            android:name=".ChatActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UserListActivity"
            android:label="@string/title_activity_user_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GroupChatSettingsActivity">

        </activity>
        <activity android:name=".ChangeEmailActivity">

        </activity>

        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".GroupChatViewActivity">

        </activity>
        <activity android:name=".AudioActivity">
        </activity>
        <activity android:name=".CameraActivity">

        </activity>

        <activity android:name=".ConsentFormActivity">

        </activity>
        <activity android:name=".ChangePasswordActivity">

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChangeAvatarActivity" />
    </application>

</manifest>