<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cliqv1">
    <!-- berechtigt die App das Internet zu nutzen und auf den Internen Speicher zuzugreifen -->
    <!-- sollten Berechtigungen fehlen, wird die App von internen Einstellungen gehindert -->
    <!-- die entsprechenden Aktionen auszuführen und stürtzt ab -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cliq_logo"
        android:label="Cliq"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ChangePasswordActivity"></activity>
        <activity android:name=".ChangeEmailActivity" />
        <activity android:name=".ProfileSettingsActivity" />
        <activity android:name=".UserList" />
        <activity android:name=".GroupChatActivity" />
        <activity
            android:name=".MainPageActivity"
            android:label="Cliq" />
        <activity
            android:name=".RegisterActivity"
            android:label="Registrierung" />
        <activity
            android:name=".AttachFileActivity"
            android:theme="@style/AppTheme.AttachFilePopUp" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".AudioActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>